</body>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>DreamsEvents is a full-service event planning and design company providing a wide array of event services from venue styling to vendor management, event staffing, and more.</p>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>123 Main Street, delta NIGERIA</p>
        <p>Phone: (234) 90-6880-9331</p>
        <p>Email: dorlamitellc@gmail.com</p>
      </div>
      <div class="col-md-4">
        <h3>Register for our newsletter</h3>
       <form action="../subscribe" method="POST">
         <input type="email" name="email" placeholder="Enter your email" required>
         <button type="submit">Subscribe</button>
       </form>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr">
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="#"><i class=""></i></a></li>
            <li><a href="#"><i class=""></i></a></li>
            <li><a href="#"><i class=""></i></a></li>
            <li><a href="#"><i class=""></i></a></li>
          </ul>
        </div>
        <div>

          <a href="../login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
          <a href="../signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
          <a href="../logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
        </div>
        <p class="text-center">&copy; <%= new Date().getFullYear(); %> DreamsEvents  All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>


