<%-include ("../layouts/header") %>
<main>
    <section>
        <div id="landing-header">
          <h1>DreamsEvents</h1>
          <a href="/contact" class="btn btn-lg btn-success">call now!</a>
        </div>

        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

    </section>
</main>
<hr>
<%-include ("../layouts/footer") %>